<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>x-mas_toy_app</title>
</head>
<body>
  <div class="nav_parent">  
    <div class="nav_child"> nav_title </div>
    <div class="nav_child"> nav_title </div>
    <div class="nav_child"> nav_title </div>
    <div class="nav_child"> nav_title </div>
  </div>

<%# nav_bar %>

<p id=”notice”><%= notice %></p>


</body>
</html>