<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>x-mas_toy_app</title>
</head>
<body>
  <div class="nav_parent">  
    <div class="nav_child"> Home </div>
    <div class="nav_child"> nav_child </div>
    <div class="nav_child"> user_profile </div>
    <div class="nav_child"> Log -in </div>
  </div><hr>

<h3>This is the root page. </h3><hr>


<p> link to Sign_in </p>
  <%# <%=link_to " => Sign Out", session_path("Log-out"),method: :delete %>  

<p> link to Log-In </p>
  <%# <%=link_to " => Sign Out", session_path("Log-out"),method: :delete %>  


<%# nav_bar %>

<p id=”notice”><%= notice %></p>


</body>
</html>