<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>x-mas_toy_app</title>
</head>
<body>
                                                    <%# nav_bar ============================================ %>
  <div class="nav_parent">  
      <div class="nav_child"> Add Text Here </div>
      <div class="nav_child"> Add Text Here </div>
      <div class="nav_child"> Add Text Here</div>
      <div class="nav_child"> Add Text Here</div>
  </div>


    <%unless @current_user %>
                                                                  <%# ============= Guest Splash Page  %>
    <div class="home_mainText_parent">
        <div class="home_subContainer">
            <img class="nav_image" src="https://cdn.dribbble.com/users/1655585/screenshots/3433111/glb_000_globe_loop2__3.gif">
            <div>
              <%# <h1 class="welcome_txt">  - N 2 r o S p e k t - </h1> %>
            </div>
        </div>
    </div> 
  </div>
</div>


  <%# ====================== %>
<h3 class="reg_title" ></h3>
<hr><br>
<p class="p_text_home">Registration is Now Faster and Easier than Ever!</p><br>
<%=button_to " Sign-Up [Create New User Account] ", new_session_path %> 
<%end%>
</div>
<%# create general landing/splash page, but once currentuser is logged in.. reformat, to solely cater to @current_user %>











<br>

<%if @current_user %>
  <img class="cu_welcome_gif" src="http://www.animatedimages.org/data/media/707/animated-welcome-image-0112.gif">
  <h3> @current_user.email</h3>
    <div>
      <%=button_to " => Log-In ", new_user_path %>  
    <div>
<%end%>




</body>
</html>