// homepage(root_path)
body {
  background-color: lightgray;
  font-family: serif;

}

.nav_parent {
  border: solid black;
  border-width: 2px;
  border-radius: 5px;
  display: flex;
  background-color: beige;
  padding: 2px;
  justify-content: space-around;
}

.nav_child {
  border: solid green;
  border-width: 2px;
  border-radius: 5px;
  padding: 6px;
  margin: 5px;

}

.nav_child:hover {
  border: solid green;
  border-width: 2px;
  border-radius: 5px;
  padding: 6px;
  margin: 2px;
  transition: .1s;

}