body {
  background-color: black;
  font-family: serif;
  padding: 30px;

}

// =======================


.nav_parent {
  border: solid beige;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  background-color: black;
  padding: 12px;
  justify-content: space-around;
  margin: 22px;
}

.nav_parent:hover {
  background-image: url("https://thumbs.gfycat.com/PoliticalEarnestChevrotain-size_restricted.gif");

  border: double beige;
  border-width: 6px;
  border-radius: 5px;
  padding: 22px;
  justify-content: space-around;
  transition: 12s;

}

.nav_child {
  border: solid beige;
  border-width: .5px;
  border-radius: 15px;
  ;
  padding: 6px;
  margin: 5px;
  height: 30px;
  width: 450px;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  color: beige;

  @keyframes twerk_sum {
    0% {
      transform: scale(1);
      opacity: 0;
    }

    20% {
      transform: scale(0.8);
      opacity: 1;
      margin-left: 15%;

    }

    50% {
      transform: scale(0.4);
      opacity: 1;
      margin-left: 25%;
      height: auto;
    }

    80% {
      transform: scale(0.8);
      opacity: 1;
      margin-bottom: 10%;
    }

    100% {
      transform: scale(1);
      opacity: 1;
      margin-bottom: 15%;
    }
  }
}

.nav_child:hover {
  border: solid #194973;
  border-width: 2px;
  border-radius: 15px;
  ;
  padding: 12px;
  margin: 5px;
  height: 100px;
  width: 150px;
  font-size: 35px;
  text-align: center;
  background-color: #194973;
  transition: 2s;
}

.nav_image {
  width: 480px;
  height: 280px;
  border: solid beige;
  border-width: 1px;
  margin-left: 340px;
  padding: 5px;
  border-radius: 50px;

}

.home_mainText_parent {
  border: solid beige;
  border-width: 1px;
  width: auto;
  padding-left: 2em;
  display: flex;
  font-size: 20px;
  background-color: black;
  color: beige;
  padding-top: 12px;

}

.another_home_sub_div {
  margin-left: 105px;
  margin-top: 25px;
  width: 65%;
  padding: 55px;
  border: solid beige;
  border-width: 2px;
  height: 385px;
  font-size: 45px;
}

.welcome_txt {
  border: solid beige;
  border-width: 1px;
  text-align: center;
  margin-left: 335px;
  border-radius: 6px;
  font-size: 22px;
  background-color: black;
  color: beige;
  width: 520px;
}

.p_text_home {
  position: absolute;
  animation: twerk_sum 5s ease-in-out 0s;
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: beige;
  margin-left: 40px;
}

.home_subContainer {
  margin: 25px;
  border: solid beige;
  padding: 35px;
  width: 90%;
  background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
  height: 320px;

}

.reg_title {
  padding: 10px;
  margin: 15px;
  font-size: 32px;
}

.space_maker_home {
  margin: 25px;
}

.button_class {
  margin-left: 65%;
  border: solid beige;
  width: 205px;
  padding: 25px;
  border-radius: 15px;
  background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
  position: absolute;
}

.button_class:hover {
  margin-left: 70%;
  border: solid beige;
  width: 205px;
  padding: 25px;
  border-radius: 15px;
  background-color: lightgreen;
  position: absolute;
  transition: 3s;

}